# Vim files
*.swp

# Backup files
*~

# Compiled files
a.out
server
cl
client

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

logfile
coca-colas
